@font-face {
    font-family: "Golos Text";
    src: url("../assets/fonts/GolosText/GolosText-Regular.woff2")
            format("woff2"),
        url("../assets/fonts/GolosText/GolosText-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tenor Sans";
    src: url("../assets/fonts/TenorSans/TenorSans.woff2") format("woff2"),
        url("../assets/fonts/TenorSans/TenorSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
